<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Editar esta empresa", edit_company_path(@company) %> |
  <%= link_to "Voltar para empresas", companies_path %>

  <%= button_to "Deletar esta empresa", @company, method: :delete %>
</div>
