<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Editar este item", edit_item_path(@item) %> |
  <%= link_to "Voltar para itens", items_path %>

  <%= button_to "Deletar este item", @item, method: :delete %>
</div>
